# Project exclude paths
/.gradle/
/Simple Banking System/task/build/
/Simple Banking System/task/out/
/Simple Banking System/task/out/production/classes/
/Topics/Arrays as parameters/Adding values/out/
/Topics/Arrays as parameters/Adding values/out/production/classes/
/Topics/Branching statements/Bus tour/out/
/Topics/Branching statements/Bus tour/out/production/classes/
/Topics/Branching statements/Even or odd/out/
/Topics/Branching statements/Even or odd/out/production/classes/
/Topics/Branching statements/The integer barrier/out/
/Topics/Branching statements/The integer barrier/out/production/classes/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Declaring a method/The sign of a number/out/
/Topics/Declaring a method/The sign of a number/out/production/classes/
/Topics/Functional decomposition/Calculator with four methods/out/
/Topics/Functional decomposition/Calculator with four methods/out/production/classes/
/Topics/Functional decomposition/Create a full name/out/
/Topics/Functional decomposition/Create a full name/out/production/classes/
/Topics/Functional decomposition/Decompose a math function/out/
/Topics/Functional decomposition/Decompose a math function/out/production/classes/
/Topics/Iterating over arrays/Alphabetical order/out/
/Topics/Iterating over arrays/Alphabetical order/out/production/classes/
/Topics/Iterating over arrays/Count how many times a number occurs/out/
/Topics/Iterating over arrays/Count how many times a number occurs/out/production/classes/
/Topics/Iterating over arrays/Cyclically shifting elements/out/
/Topics/Iterating over arrays/Cyclically shifting elements/out/production/classes/
/Topics/Iterating over arrays/Does an array contain N/out/
/Topics/Iterating over arrays/Does an array contain N/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/The minimum value of an array/out/
/Topics/Iterating over arrays/The minimum value of an array/out/production/classes/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/production/classes/
/Topics/java.util.Arrays/Convert the array to a List/out/
/Topics/java.util.Arrays/Convert the array to a List/out/production/classes/
/Topics/java.util.Arrays/Convert the array to a stream/out/
/Topics/java.util.Arrays/Convert the array to a stream/out/production/classes/
/Topics/Multidimensional array/Fill the matrix by numbers/out/
/Topics/Multidimensional array/Fill the matrix by numbers/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Switch statement/Direction/out/
/Topics/Switch statement/Direction/out/production/classes/
/Topics/Switch statement/From string to a number/out/
/Topics/Switch statement/From string to a number/out/production/classes/
/Topics/Switch statement/Harry Potter/out/
/Topics/Switch statement/Harry Potter/out/production/classes/
/Topics/Switch statement/Test learners/out/
/Topics/Switch statement/Test learners/out/production/classes/
/Topics/The while and do-while loops/Squares of natural numbers/out/
/Topics/The while and do-while loops/Squares of natural numbers/out/production/classes/
/Topics/The while and do-while loops/The length of the sequence/out/
/Topics/The while and do-while loops/The length of the sequence/out/production/classes/
/Topics/The while and do-while loops/The sequence/out/
/Topics/The while and do-while loops/The sequence/out/production/classes/
/Topics/What is an exception/Avoid division by zero/out/
/Topics/What is an exception/Avoid division by zero/out/production/classes/